body {
  margin: 0;
  padding: 0;
  background-color: #d6e2f0;
  font-family: 'Outfit', serif;
  font-weight: 200;
  font-size: 1em;
}
h1 {
  font-size: 1.35em;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #1f3251;
  border-radius: 1.25em;
  padding: 0.8em;
  margin: 1em;
  width: 18em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 25px 0px;
}
.card img {
  width: inherit;
  border-radius: 0.8em;
}
.content {
  padding: 0 1.25em;
  text-align: center;
}
.attribution {
  font-size: 1em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
